################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RouletteApp/copilot-chat/2ff4447c/sessions
/.vs/RouletteApp/FileContentIndex
/.vs/RouletteApp/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
/.vs/RouletteApp/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
