################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RouletteApp/copilot-chat/2ff4447c/sessions
/.vs/RouletteApp/FileContentIndex
